@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');


body{
font-family: 'Roboto', sans-serif;
    background-color: #eaeaea;
}

.navbar{
    background-color: rgba(255,255,255,0.75);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 98;
}

.carousel{
    margin-top: 56px;
}

.movie{
    height: 550px;
    width: 300px;
    overflow: hidden;
}

.moviePoster{
    width: 100%;
    height: 450px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalWindow{
    width: 450px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255,255,255,0.75);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 30px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2rem 2rem rgba(0,0,0,0.5);
    transition: all 0.5s;

    opacity: 0;
    visibility: hidden;
}

.closeBtn,
.closeBuyBtn{
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.buyModal{
    width: 350px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255,255,255,0.75);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 30px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2rem 2rem rgba(0,0,0,0.5);
    transition: all 0.5s;

    opacity: 0;
    visibility: hidden;
}
